---
export interface ExperienceItem {
  role: string
  company: string
  period: string
  description: string[]
}

const { experience } = Astro.props
---

<section id="experience" class="min-h-[calc(100vh-120px)]">
  <div>
    <h2 class="text-3xl font-bold text-white/90">
      <span class="text-secondary mr-2">02.</span> Experience
    </h2>
    <div>
      {experience.map((exp: ExperienceItem, index: number) => (
        <div
          class={`flex relative
            before:absolute before:left-1.5 before:w-1 before:bg-white/20
            before:top-0 before:-bottom-10
            first:before:top-10
            last:before:bottom-[calc(100%-2.5rem)]
            ${index !== experience.length - 1 ? 'mb-0' : ''}
          `}
          style={index !== experience.length - 1 ? 'margin-bottom: 2.5rem;' : ''}
        >
          {/* Punto */}
          <span class="absolute top-8 w-4 h-4 bg-secondary block rounded-full z-10"></span>

          {/* Contenido */}
          <div class="ml-10 grid grid-cols-1 md:grid-cols-5 gap-4">
            <div class="mt-4 flex flex-col gap-2 col-span-2">
              <h2 class="text-secondary font-semibold">{exp.role}</h2>
              <h3 class="text-white/90 font-semibold">{exp.company}</h3>
              <p class="text-white/80 text-pretty capitalize text-sm">{exp.period}</p>
            </div>
            <div class="col-span-3">
              <ul class="pl-2 mt-2">
                {exp.description.map((desc: string) => (
                  <li class="flex before:content-['▹'] before:text-secondary before:text-2xl before:mr-4 text-base text-white/70 text-pretty mt-4">
                    {desc}
                  </li>
                ))}
              </ul>
            </div>
          </div>
        </div>
      ))}
    </div>
  </div>
</section>
