---
import Githubicon from './icons/Githubicon.astro'
import LinkedinIcon from './icons/LinkedinIcon.astro'
---

<div class="fixed left-12 bottom-0">
  <ul class="flex flex-col gap-4 justify-center items-center
  after:h-32 after:w-0.5 after:bg-white/80 after:rounded-full after:mt-4">
    <li>
      <a href="https://github.com/FrankoFPM" target="_blank" class="flex items-center justify-center w-12 h-12 text-white/80 hover:text-secondary transition hover:-translate-y-1.5 duration-200">
        <Githubicon class="size-10" />
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/franco-johan-p%C3%A9rez-melgarejo-3565181b1/" target="_blank" class="flex items-center justify-center w-12 h-12 text-white/80 hover:text-secondary transition hover:-translate-y-1.5 duration-200">
        <LinkedinIcon class="size-10" />
      </a>
    </li>
  </ul>
</div>
