---
const { href, ariaLabel } = Astro.props
const extraClasses = Astro.props.extraClasses || ''
---
<a
  href={href}
  target="_blank"
  rel="noopener"
  aria-label={ariaLabel}
  class={`relative inline-block rounded-md outline-none focus-visible:ring-2 focus-visible:ring-secondary focus-visible:ring-offset-2 focus-visible:ring-offset-background ${extraClasses}`}
>
  <div class="absolute w-full h-full bg-secondary rounded-md z-0"></div>
  <div
    class="relative flex items-center gap-2 z-10 px-6 py-2 font-semibold text-secondary border-2 border-secondary bg-background rounded-md
        transition-transform duration-200 hover:-translate-1">
    <slot />
  </div>
</a>
